# Logs and Runtime data
logs/
*.log

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional cache directories
.eslintcache
.stylelintcache

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Yarn and npm cache
.npm/

# Miscellaneous
.node_repl_history
.vscode-test
